{% extends "leavemgt/leavedash_layout.html" %}
{% block content %}
    <main>
        <div class="container-fluid">
            <!--<h1 class="mt-4">Dashboard</h1>-->
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item active">Dashboard</li> 
            </ol>
            <!--<div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Staff List
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>PICTURE</th>
                                    <th>SSF_NO</th>
                                    <th>NAME</th>
                                    <th>JOB POSITION</th>
                                    <th>SEX</th>
                                    <th>ACTION</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff_list in staff_pers %}
                                {% if not staff_list.role_id == 3 %}
                                <tr>
                                    <td>
                                        <img src="{{ url_for('static', filename='profile_pics/' + staff_list.image_file) }}" 
                                            alt="user_image.png" style="border-radius: 50%; height: 100px; width: 100px;">
                                    </td>
                                    <td>{{ staff_list.ssf_no }}</td>
                                    <td>{{ staff_list.name }}</td>
                                    <td>{{ staff_list.job_pos }}</td>
                                    <td>{{ staff_list.sex }}</td>
                                    <td>
                                        <a class="btn btn-success" href="{{ url_for('admin.edit_staff', staff_id=staff_list.id) }}">EDIT</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}