<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Approved Requests
                <span class="badge badge-pill badge-light ml-3">  
                    {{ app_no }}
                </span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" 
                    href="{{ url_for('users.user_approved_req', username=current_user.name) }}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">New Requests
                <span class="badge badge-pill badge-light ml-3">
                    {{ pending_no }}
                </span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" 
                    href="{{ url_for('users.user_pending_req', username=current_user.name) }}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">All Requests
                <span class="badge badge-pill badge-light ml-3"> 
                    {{ total_req }}
                </span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" 
                    href="{{ url_for('users.user_dashboard', user_name=current_user.name) }}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Rejected Requests
                <span class="badge badge-pill badge-light ml-3">
                    {{ rej_no}}
                </span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" 
                    href="{{ url_for('users.user_rejected_req', username=current_user.name) }}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">Cancelled Requests
                <span class="badge badge-pill badge-light ml-3">
                    {{ cancel_no }}
                </span>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" 
                    href="{{ url_for('users.user_cancelled_req', username=current_user.name) }}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>