{% extends "includes/layout.html" %} 
{% block content %}

<style>
    
</style>

<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%; margin-top: 50px;"> 
        <div class="col-md-8" id="tbl_h4" style="margin-top: -2%;" >
            <h3 id="table_h3" style="text-transform: uppercase;">{{ construction.project }}</h3>
            {% if construction.video_link != "N/A" %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ contract_id }}?controls=1" allowfullscreen></iframe>
            </div>
            <div></div>
            <div><b>&nbsp;</b></div>
            {% else %}
            <div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='img/project/project-7.jpg') }}" alt="project_image.jpg">
                </div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='img/project/project-7.jpg') }}" alt="project_image.jpg">
                </div>
            </div>
            {% endif %} 
            <table class="table table-striped table-borderless "> 
                <tbody style="border-collapse: collapse;">
                    <tr>
                        <th>Project Title</th>
                        <td>{{ construction.project }}</td>
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>{{ construction.region }}</td>
                    </tr>
                    <tr> 
                        <th>Amount Cert. to Date (GHS)</th>
                        {% if construction.amt_to_date == "N/A" %}
                            <td>{{ construction.amt_to_date }}</td>
                        {% else %}
                            <td>{{ "{:,.2f}".format(construction.amt_to_date|float) }}</td> 
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Date of Commence</th>
                        {% if construction.date_commenced is none %}
                            <td>{{ construction.date_commenced }}</td>
                        {% else %}
                            <td>{{ construction.date_commenced.strftime('%d %B, %Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Completion Date</th>
                        {% if construction.date_completed is none %}
                            <td>{{ construction.date_completed }}</td>
                        {% else %}
                            <td>{{ construction.date_completed.strftime('%d %B, %Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Revised Completion Date</th>
                        {% if construction.revised_date is none %}
                            <td>{{ construction.revised_date }}</td>
                        {% else %}
                            <td>{{ construction.revised_date.strftime('%d %B, %Y') }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>           
        </div>
        {% include 'includes/sidebar.html' %}
    </div>
</div>
{% endblock content %} 