{% extends "includes/layout.html" %} 
{% block content %}

<style>
    
</style>

<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%; margin-top: 50px;"> 
        <div class="col-md-8" id="tbl_h4" style="margin-top: -2%;" >
            <h3 id="table_h3" style="text-transform: uppercase;">{{ grading.project }}</h3>
            {% if grading.video_link %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ contract_id }}?controls=1" allowfullscreen></iframe>
            </div>
            <div></div>
            <div><b>&nbsp;</b></div>
            {% else %}
            <div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='img/project/project-7.jpg') }}" alt="project_image.jpg">
                </div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='img/project/project-7.jpg') }}" alt="project_image.jpg">
                </div>
            </div>
            {% endif %} 
            <table class="table table-striped table-borderless "> 
                <tbody style="border-collapse: collapse;">
                    <tr>
                        <th>Project Title</th>
                        <td>{{ grading.project }}</td>
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>{{ grading.region }}</td>
                    </tr>
                    <tr> 
                        <th>Contract Sum (GHS)</th>
                        {% if grading.amt_to_date %}
                        <td>{{ "{:,.2f}".format(grading.amt_to_date|float) }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %} 
                    </tr>
                    <tr>
                        <th>Date of Commence</th>
                        <td>{{ grading.date_commenced.strftime('%d %B, %Y') }}</td>
                    </tr>
                    <tr>
                        <th>Date Completed</th>
                        <td>{{ grading.date_completed.strftime('%d %B, %Y') }}</td>
                    </tr>
                </tbody>
            </table>           
        </div>
        {% include 'includes/sidebar.html' %}
    </div>
</div>
{% endblock content %} 