{% extends "includes/layout.html" %}
{% block content %} 
    <div class="container">
        <div class="row blog_details_inner" id="leave" style="margin-left: 2%;">  
            <form action="" method="post">
                <fieldset class="form-group">
                    <div class="col-md-6" id="content_1" style="padding-bottom: 53px;">
                        <h4 class="">Personal Details</h4>
                        <div class="form-group"> 
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" id="name" 
                                    value="{{ current_user.name}}" readonly> 
                        </div>
                        <div class="form-group">
                            {{ form.rank.label }}
     
                            <!--If form had errors-->
                            {% if form.rank.errors %}
                                {{ form.rank(class="form-control", style="border-color: #a94442;") }} 
                                <div class="form-group has-error">
                                    {% for error in form.rank.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.rank(class="form-control", value=current_user.job_pos, readonly=true)}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.section.label }}
    
                            <!--If form had errors-->
                            {% if form.section.errors %}
                                {{ form.section(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.section.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %} 
                                {{ form.section(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.date_app.label }}
                            <div class="input-group datepicker">
                                {{ form.date_app(class="form-control")}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span> 
                                </span>
                            </div> 
                        </div>
                        <div class="form-group">
                            {{ form.tele_no.label }}
                            <!--If form had errors-->
                            {% if form.tele_no.errors %}
                                {{ form.tele_no(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.tele_no.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.tele_no(class="form-control")}}
                            {% endif %}
                            
                        </div><br>
                        <h4 class="">Leave Details</h4>
                        <fieldset>
                            <!--Place the Select Category Here-->
                            <div class="form-group">
                                {{ form.leave_cat.label }} 
    
                                <!--If form had errors-->
                                {% if form.leave_cat.errors %}
                                {{ form.leave_cat(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.leave_cat.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.leave_cat(class="form-control")}}
                                {% endif %}                            
                            </div>
                            <div class="form-group">
                                {{ form.no_of_days.label }}
                                
                                <!--If form had errors-->
                                {% if form.no_of_days.errors %}
                                {{ form.no_of_days(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.no_of_days.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.no_of_days(class="form-control")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <p style="font-weight: bold; margin-bottom: 15px;">Duration(All Dates Included)</p>
                                <div class="col-sm-6">
                                    {{ form.start_date.label }}
                                    <div class="input-group datepicker">
                                        {{ form.start_date(class="form-control")}}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{ form.end_date.label }}
                                    <div class="input-group datepicker">
                                        {{ form.end_date(class="form-control")}}
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div><br><br>
                        </fieldset> 
                    </div>
                    <div class="col-md-6">
                        <div class="sidebar_area" id="content_1" style="padding-bottom: 20px;">
                            <div class="form-group">
                                {{ form.supp_info.label }}
                                
                                <!--If form had errors-->
                                {% if form.supp_info.errors %}
                                {{ form.supp_info(class="form-control", cols="30", rows="5", style="border-color: #a94442; ") }}
                                <div class="form-group has-error">
                                    {% for error in form.supp_info.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.supp_info(class="form-control", cols="30", rows="5")}}
                                {% endif %}
                            </div>
                            <h4 class="">Contact Details While on Leave</h4>
                            <div class="form-group">
                                {{ form.address.label }}
    
                                <!--If form had errors-->
                                {% if form.address.errors %}
                                {{ form.address(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.address.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.address(class="form-control")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.mobile_no.label }}
                                
                                <!--If form had errors-->
                                {% if form.mobile_no.errors %}
                                {{ form.mobile_no(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.mobile_no.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.mobile_no(class="form-control")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label }}
                                
                                <!--If form had errors-->
                                {% if form.email.errors %}
                                {{ form.email(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.email.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.email(class="form-control")}}
                                {% endif %}
                            </div>
                            <h4 class="">
                                <span style="visibility: hidden;">Personal Details</span>
                            </h4>
                            <div class="form-group">
                                {{ form.days_proceed.label }}
                                
                                <!--If form had errors-->
                                {% if form.days_proceed.errors %}
                                {{ form.days_proceed(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.days_proceed.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.days_proceed(class="form-control")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.effec_date.label }}
    
                                <div class="input-group datepicker">
                                    {{ form.effec_date(class="form-control")}}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.resump_date.label }}
    
                                <div class="input-group datepicker">
                                    {{ form.resump_date(class="form-control")}}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.outs_days.label }}
    
                                <!--If form had errors-->
                                {% if form.outs_days.errors %}
                                {{ form.outs_days(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.outs_days.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--if there are no errors-->
                                {% else %}
                                    {{ form.outs_days(class="form-control")}} 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset> 
                <div class="form-group col-md-6" >
                    {{ form.submit(class="btn submit_btn form-control", style="margin-left: 270px; margin-top: 20px;") }}
                </div> 
                {{ form.csrf_token }} 
            </form>
        </div>
    </div>
{% endblock %}