{% extends "includes/layout.html" %}

{% block content %}

<style>
    @media only screen and (max-width:600px){
        #img_new{
            width: 302px !important;
            height: 360px !important;
        }

        #new_align{
            width: 375px !important;
            height: 187px !important;
        }

        .banner_area{
            padding-top: 46px;
        }

        .p_100{
            padding-top:28px;
        }
    }
</style>
    <!--================Banner Area =================-->
    <section id="new_align" class="banner_area" style="background: #b8c3ff; width: 1349px; height: 237px; background-size: cover">
        <div class="container">
            <div class="banner_inner_text">
                <h4 style="color: #161515; font-weight: bold;">{{ single_post.title }}</h4>  
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->
     
    <!--================Blog Details Area =================-->
    <section class="blog_details_area p_100">
        <div class="container">
            <div class="row blog_details_inner" style="margin-left: 2%;">
                <div class="col-md-8">
                    <div style="padding-bottom: 20px;">
                        <div class="blog_details_img">
                            <img id="img_new" src="{{ url_for('static', filename='blog_images/' +single_post.image) }}" style="width: 720px; height: 454px;" alt="">
                            <div class="b_date">
                                <h3>{{ single_post.pub_date.strftime('%d') }}</h3>
                                <h5>{{ single_post.pub_date.strftime('%B, %Y') }}</h5> 
                            </div>
                        </div>
                        <div class="blog_d_text">
                            <h6>Posted by <a href="#">{{ single_post.author.name }}</a>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> {{ single_post.views }}</span>
                                <span><i class="fa fa-comment" aria-hidden="true"></i>
                                    {% if single_post.comments == 1 %}
                                        {{ single_post.comments }} comment
                                    {% else %}
                                        {{ single_post.comments }} comments
                                    {% endif %}
                                </span>
                            </h6>
                            <a href="#"><h3>{{ single_post.title }}</h3></a>
                            <p style="line-height: 40px;">{{ single_post.body |safe }}</p>
                        </div>
                    </div>
                    <!--<div class="comment_list">-->
                    <!--    <h3>-->
                    <!--        {% if single_post.comments == 1 %}-->
                    <!--            {{ single_post.comments }} comment-->
                    <!--        {% else %}-->
                    <!--            {{ single_post.comments }} comments-->
                    <!--        {% endif %}-->
                    <!--    </h3>-->
                    <!--    {% for comment in comments %}-->
                    <!--    <div class="comment_list_inner" style="margin-top: -4%;">-->
                    <!--        <div class="media">-->
                    <!--            <div class="media-left">-->
                    <!--                <img src="{{ url_for('static', filename='img/comment-user/default.png') }}" -->
                    <!--                        style="width: 56px; height: 56px; border-radius: 50%;" alt="default.jpg">-->
                    <!--            </div>-->
                    <!--            <div class="media-body">-->
                    <!--                <h5>{{ comment.pub_date.strftime('%B %d %Y') }} AT {{ comment.pub_date.strftime('%I:%M %p') }}</h5>-->
                    <!--            </div>-->
                    <!--            <p>{{ comment.message }}</p>-->
                    <!--            <a class="cm_reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--    {% endfor %}-->
                    <!--</div>-->
                    <!--<div class="comment_form_area">-->
                    <!--    <h3>Leave a reply</h3>-->
                    <!--    <form class="contact_us_form row" action="" method="post" id="contactForm" >-->
                    <!--        <div class="form-group col-md-6">-->
                    <!--            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>-->
                    <!--        </div>-->
                    <!--        <div class="form-group col-md-6">-->
                    <!--            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>-->
                    <!--        </div>-->
                    <!--        <div class="form-group col-md-12">-->
                    <!--            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Your Comment" required></textarea>-->
                    <!--        </div>-->
                    <!--        <div class="form-group col-md-12">-->
                    <!--            <button type="submit" value="submit" class="btn submit_btn form-control">Post Comment</button>-->
                    <!--        </div>-->
                    <!--    </form>-->
                    <!--</div> -->
                </div>
                <div class="col-md-4">
                    <div class="sidebar_area">
                        <aside class="right_widget r_post_widget">
                            <div class="r_w_title">
                                <h3 style="font-weight: bolder;">Trending Post</h3>
                            </div>
                            {% if posts %}
                            <div class="r_post_inner">
                                {% for post in posts[:4] %}
                                <div class="r_post_item">
                                    <img src="{{ url_for('static', filename='blog_images/' + post.image) }}" style="width: 246px; height: 123px;" alt="">
                                    <a href="{{ url_for('blogs.blog_post', post_id=post.id, slug=post.slug) }}"><p>{{ post.title | truncate(80, True) }}</p></a>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div>
                                No Trending Posts
                            </div>
                            {% endif %}
                        </aside>
                        <aside class="right_widget r_social_widget">
                            <div class="r_w_title">
                                <h3>we are social</h3>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </aside>
                        <aside class="right_widget r_twitter_widget">
                            <div class="r_w_title">
                                <h3>twitter feed</h3>
                            </div>
                            <div class="tweets_feed"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Blog Details Area =================-->
{% endblock content %}