{% extends "includes/layout.html" %} 
{% block content %}
<div class="container">
    <div class="row blog_details_inner" style="margin-top: 50px;">
        <div class="col-md-8" style="margin-top: -2%;">
            <h3 id="table_h3" style="margin-bottom: 40px; width: auto;">List Of Contractors </h3>
            <table id="mytable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>COMPANY</th>
                        <th>EMAIL</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RICANDA COMPANY LIMITED</td>
                        <td>ricandacomapanyltd@yahoo.com</td> 
                    </tr>
                    <tr>
                        <td>ZELCON GHANA LIMITED</td>
                        <td>zelconghana@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>KENDYMAY VENTURES</td>
                        <td>kendymay15@gmail.com</td>
                    </tr>
                    <tr>
                        <td>HIMROT COMPANY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OVARY ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JEFFYNARD 16 ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MULTIWAVES CONSTRUCTION</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KYEREWAA GHANA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MAYAKI PREMUIM</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>P.K. CASSY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FRED PENNY CONSTRUCTION</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SAPEL COMPANY</td>
                        <td>sapelcompanyltd@gmail.com</td>
                    </tr>
                    <tr>
                        <td>OFFBAFF LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KAFLANS SEERVICES LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KALEASON LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>M/S SEDMAFF LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PIING LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BEN AMAKA ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>YAKAP PRETIGE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ALBERO DI RIO LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DOTA LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PHILIP DUBA COMPANY LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ORABAK LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BREWECKS COMPANY LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KASETY ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ELBAFF VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ASIROP LIMITED</td>
                        <td>asiroplimited@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>MIDIOM LOGISTICS LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CHRISVEGG LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KENTTE LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KENYITE WAQLE LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CHAMMENS LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CONCROSS VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KALGASTON LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>WIDE GOLDEN IONVESTMENT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>WAM HILLS ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DEANS GATE CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LINSBA CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LIKEL VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DEX ENTERPRSIE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SANEKAMBALA CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FREE FALL CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NUDANA GH LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VIDAFF VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TUNSUNG LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MYK CONSTRUCTIONS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SALAM RAHMAN ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BAKAG VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BENDON VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>RAMSIDE GH LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HINRA ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SD OWUSU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SUNARASH ENT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DONCROOSS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>A. KANIN LTD</td>
                        <td>akaninltd73@yahoo.co.uk</td>
                    </tr>
                    <tr>
                        <td>JEWU CONS LTD</td>
                        <td>tyrstey@gmail.com</td>
                    </tr>
                    <tr>
                        <td>JOSHOB CONS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NAPO CONS LTD</td>
                        <td>napo.construction@gmail.com</td>
                    </tr>
                    <tr>
                        <td>AGYAKOT</td>
                        <td>agyakot@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>USSUYA</td>
                        <td>ussuya@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>ADINANI CO LTD</td>
                        <td>adinaniaabdilia@gmail.com</td>
                    </tr>
                    <tr>
                        <td>IESS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>COMET CONST LTD</td>
                        <td>info@comethomesgh.biz</td>
                    </tr>
                    <tr>
                        <td>ATTACHY</td>
                        <td>attachy@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>EL POSA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MIDIOM </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LINSBA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LOMENF GHANA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DIJULS CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HAMLERA ENTERPRISE</td>
                        <td>excellencyhundred@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>PRINCE BAFFOUR ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FASHED ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>XARA DEVELOPER LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ENGINEERS AND SURVEYORS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NBY COMPLEX LIMITED</td>
                        <td>nbycl78@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>EUGASS LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VIACAH CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VI-COLOOS ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BEADS AND SONS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BOTHAA LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MAS-NOVA LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>I.K BOAKYE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JASBIM ENTERPRSE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GEO-BOAM CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DE-BAJ CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>EBONY CONCEPT ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KWAKU APAU CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AZIGA CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NEIBRAGO CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AGEROP GHANA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BRASOMA CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AMS AND SONS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HYPER CONS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CHETECH CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CONSTRUCTION LINK</td>
                        <td>wasabco@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>JAMPAF ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DOORMAN CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ASABEA ENG LTD</td>
                        <td>admin@asabeaconstruction.com</td>
                    </tr>
                    <tr>
                        <td>BANQUE GHANA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KK KYEREMANTENG</td>
                        <td>kyemat@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>CHAMENS INVESTMENT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SEBRO VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AMANADARICH CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BOSAF VENURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BERNIBEK VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ANSEMA GHANA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OSMAN DODO ENT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TRAFALKA CO LTD</td>
                        <td>trafalkalimited@gmail.com</td>
                    </tr>
                    <tr>
                        <td>CHRISPOINT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FRED PENNY CONST</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NICHANKO LTD</td>
                        <td>nichhanko99@gmail.com</td>
                    </tr>
                    <tr>
                        <td>KUMASAB GOLD LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KELOSONS CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BOTHSIDE CO LTD</td>
                        <td>bothsidelimited@gmail.com</td>
                    </tr>
                    <tr>
                        <td>JEK ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NAYASS DEVELOPMENT VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABROSARP VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ADAMS BRONI ENT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MEDINAM VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TIGOESON GHANA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CINNAMON ENG LTD</td>
                        <td>cinnamon.engineeringlimited@gmail.com</td>
                    </tr>
                    <tr>
                        <td>LEELB ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SIDEM CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HAYAT CO LTD</td>
                        <td>hayatco@yahoo.com</td>
                    </tr>
                    <tr>
                        <td>TECHNOLIGHT LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CARE CONS CO LTD</td>
                        <td>careconstructioncommercialltd@gmail.com</td>
                    </tr>
                    <tr>
                        <td>JULIAN CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABOVE HEIGHT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FENTODIA CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CG CONSTUCTION</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GEO MODEL VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SUMAL LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SKILL LINK LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KPALSI ENTERPRISE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CHRISVEGG LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ASHURA LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BACHEST GH LTD </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>T.A. TRAMDESS GH LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>THRIFTY CONS SERVICE LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DOCROSS VENTURES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MEGAFEL LIMITED</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KESBESCO CONST</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JACK BERTUS LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>THE LINE UPS CO LTD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TODEL GHANA LIMITED</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% include 'includes/sidebar.html' %} 
    </div>
</div>
{% endblock  %}