{% extends "includes/layout.html" %}
{% block content %}

<style>

    .inst_profile {
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }


    .inst_profile ul {
        list-style-type: lower-alpha;
        padding-left: 30px;
        margin-top: 10px;
    }

    .inst_profile ul li {
        padding: 5px;
    }
    li{
    font-weight:bold;
    }

    /* start of style for the pdf portion */
    .policy-main {
        margin-bottom: 10px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        border: 1px dashed #ccc;
    }

    .policy-pdf {
        margin: 20px 0px;
        display: block;
    }

    .fa-file-pdf-o:before {
        content: "\f1c1";
    }

    .policy-pdf-file {
        background-color: #f7f7f7;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        vertical-align: bottom;
    }

    .policy-pdf-file a {
        font-size: 20px;
        text-decoration: none;
        flex: 1;
        color: #41aed7;
        padding: 5px;
    }

    .policy-pdf-file span {
        flex: 16;
        font-weight: 400;
        display: inline-block;
        padding: 10px;
        border-right: 1px solid #e5e5e5;
    }

    .divider_bg::before {
        content: "";
        display: block;
        border-bottom: 5px solid #b8c3ff;
        position: absolute;
        left: 0;
        top: -1px;
        width: 83px;
        height: 1px;
        opacity: 1;
        z-index: 100;
    }

    #hr_divider {
        opacity: 1;
        z-index: 1;
    }

    hr {
        box-sizing: content-box;
        height: 0;
        border-top: 1px solid #eee;
        border-color: #e5e5e5;
        background-color: #e5e5e5;
    }

    .divider_bg {
        position: relative;
        overflow: visible;
        margin-top: -10px;
    }

 /* end  of style for the pdf portion */

</style>
<div class="container">
    <div class="row blog_details_inner" style="margin-top: 50px; margin-left: 2%;">
        <div class="col-md-8" style="margin-top: -2%;">
            <h3 id="table_h3" >Institution Profile</h3>
            <section>

                <!--Start of Report for 2022 -->
                <div>
                    <div style="margin-top: -10px;font-size: 18px; font-weight: bold">N.R.C.D. 298.</div>
                    
                </div>

                <!-- <div class="policy-main"> -->
                    <div class="policy-pdf">
                        <div class="policy-pdf-file">
                            <!-- <p style="padding-right: 20px;">1</p> -->
                            <i class="fa fa-file-pdf-o" style="color: red; font-size: 33px; padding-top: 12px;"></i>
                            <span style="font-family: Montserrat, sans-serif;">Ghana Highway Authority Decree, 1974</span>
                            <a href="{{ url_for('static', filename='pdf/N.R.C.D. 298, Ghana Highway Authority Decree, 1974.pdf') }}" target=_blank>
                                <img src="{{ url_for('static', filename='img/download.png') }}" alt="Image not found"
                                    width="40" height="40">
                            </a>
                        </div>
                    </div>

                    <!-- divider from the Pdf above-->
                    <div>
                        <hr id="hr_divider" class="divider_bg m_bottom_25 warning">
                    </div>

                <div class="inst_profile">
                   <p>The Ghana Highway Authority was established under NRC Degree 298 of December 1974 with the responsibility for the administration, control,
                        development and maintenance of all public highways and related facilities in Ghana.</p>
                    <p>The NRCD has been superseded by Act 540 of December 1997
                         to reflect changes that occurred in the road sector, over that given period.</p>
                    <p>The GHA is responsible for the administration, development, and maintenance of truck roads and related facilities in the country. In pursuance of the
                         discharge of this responsibility, the authority has been charged with the following:</p>
                    <ul>
                        <li>To plan, develop, maintain,
                             and administer the truck road network, ferries traffic devices and any related works;</li>
                        <li>To control traffic on truck roads with the aim of providing safe and adequate infrastructure
                             for road transportation commensurate with the economic development of Ghana;</li>
                        <li>To undertake research or collaborate with any research organization with the
                             view to facilitating its planning, development, maintenance and administrative activities;</li>
                        <li>To collect and preserve data relating to its functions as it considers expedient;</li>
                        <li>To collect toll and other revenue on behalf of the Government on the truck road network;</li>
                        <li>To negotiate concession agreements with private sector entities;</li>
                        <li>To carry on any other activity as appear to the Authority to be conducive or
                             accidental to the attainment of its responsibility;</li>
                        <li>To develop human capital adequate to achieve the mission of GHA.</li>
                    </ul>
                </div>
            </section>
               
        </div>
        {% include 'includes/sidebar.html' %} 
    </div>
</div> 
{% endblock content %}