{% extends "includes/layout.html" %}
{% block content %}

<style>
    .container {
        font-family: "Open Sans", sans-serif;
    }

    .team_name {
        text-align: center;
        margin: 0;
        padding: 10px;
        box-shadow: 10px 10px 40px grey;
        background: #fff;
        margin-bottom: 30px;
        width: 263px;
        height: 100px;
        gap: 50px;
    }

    .team_name h4 {
        padding-bottom: 5px;
    }

    #leader {
        flex: 1;
        flex-wrap: wrap;
        display: flex;
    }

    .divider_bg::before {
        content: "";
        display: block;
        border-bottom: 5px solid #b8c3ff;
        position: absolute;
        left: 0;
        top: -1px;
        width: 83px;
        height: 1px;
        opacity: 1;
        z-index: 100;
    }

    #hr_divider {
        opacity: 1;
        z-index: 1;
    }

    hr {
        box-sizing: content-box;
        height: 0;
        border-top: 1px solid #eee;
        border-color: #e5e5e5;
        background-color: #e5e5e5;
    }

    .divider_bg {
        position: relative;
        overflow: visible;
    }

    .slick-next {
        right: 0;
        top: 0;
        position: absolute;

    }

    .leadership {
        width: 100%;
        display: flex;
    }
    /* make distance betwwen corosel transition */
    /* the slides */
    .slick-slide {
        margin: 0 35px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -35px;
    }
    /* end of making distance betwwen corosel transition */

    /* working  */
    @media screen and (max-width: 480px) {
        .leadership {
            display: flex;
            flex-direction: column-reverse;
        }

        #leader {
            /* flex: 1; */
            /* flex-wrap: wrap; */
            /* display: flex; */
            display: block;
        }

        .slick-track {
            display: flex;
        }
    }

    @media screen and (max-width: 768px) and (max-width: 992px) {
        .slick-track {
            display: flex;
        }

    }
    
</style>

<div class="container">
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">LEADERSHIP</h3>
        <!-- Divider header  -->
        <div>
            <h5 id="no_news">Board of Directors</h5>
            <hr id="hr_divider" class="divider_bg m_bottom_25 warning">
        </div>

        <div class="responsive" id="leader">
            <!-- <div data-slick='{"slidesToShow": 4, "slidesToScroll": 1},"dots":false,"arrows":true, "leadership carousel_show":[{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}' class="leadership carousel_show" id="leader"> -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/DR. FRANK M.K GAMADEY.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/Ishaque Kobina Mensah.jpg" data-lightbox="profile"
                            data-title="Pic-1" data-alt="Pic-1.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. I. K. Mensah</h4>
                    <span>Board Chair</span>
                </div>
            </div>

            <!-- next director -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/Abass Mohammed Awolu.jpg" data-lightbox="profile" data-title="Pic-2"
                            data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Dr. Abass M. Awolu</h4>
                    <span>Board Member</span>
                </div>
            </div>

             <!-- next director -->
             <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/#" data-lightbox="profile" data-title="Pic-2"
                            data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Isaac Fraikue</h4>
                    <span>Board Member</span>
                </div>
            </div>

             <!-- next director -->
             <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/#" data-lightbox="profile" data-title="Pic-2"
                            data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Patrick Nomo</h4>
                    <span>Board Member</span>
                </div>
            </div>

            <!-- next Board Member -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/Mrs. Adelaide Anno-Kumi.jpg" data-lightbox="profile"
                            data-title="Pic-2" data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mrs. A. Anno-Kumi</h4>
                    <span>Board Member</span>
                </div>
            </div>

            <!-- next Board Member -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/Mr. Isaac Addai.jpg" data-lightbox="profile" data-title="Pic-2"
                            data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Isaac Addai</h4>
                    <span>Board Member</span>
                </div>
            </div>

        
            <!-- next Board Member -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/Ernest Oppong Boateng.jpg" data-lightbox="profile"
                            data-title="Pic-2" data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Ernest O. Boateng</h4>
                    <span>Board Member</span>
                </div>
            </div>

        </div>

        

        <!-- Divider header  -->
        <div>
            <h5 id="no_news">Chief Executive</h5>
            <hr id="hr_divider" class="divider_bg m_bottom_25 warning">
            <!--Chief Executive  -->
        </div>
        <div class="leadership" id="leader">
    
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/logoBM.png') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/DR. FRANK M.K GAMADEY.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/Ing. Collins Boadu Donkor.jpg') }}" data-lightbox="profile"
                            data-title="Pic-1" data-alt="Pic-1.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Collins B. Donkor</h4>
                    <span>Ag. Chief Executive</span>
                </div>
            </div>
        </div>

        <!-- Divider header  -->
        <div>
            <h5 id="no_news">Deputy Chief Executive</h5>
            <hr id="hr_divider" class="divider_bg m_bottom_25 warning">
        </div>
    
            <div class="leadership" id="leader">

                <!-- for deputy Chief Executive (Mtce) -->
                <div class="img_disp" id="try">
                    <img src="{{ url_for('static', filename='img/leaders/LAWRENCE LLOYD LAMPTEY.JPG') }}"
                        alt="pre-cons-left" class="image_file">
                    <!-- <img src="static/img/leaders/_DSC6335.jpg" alt="pre-cons-left" class="image_file"> -->
                    <div class="overlay">
                        <div id="pro">
                            <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                            <a href="{{ url_for('static', filename='img/leaders/LAWRENCE LLOYD LANKWEI LAMPTEY.jpg') }}"
                                data-lightbox="profile" data-title="Pic-3" data-alt="Pic-3.jpg">
                                Profile
                            </a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ing. Lawrence Lloyd Lankwei Lamptey</h4>
                        <span>Deputy Chief Executive (Maintenance)</span>
                    </div>
                </div>

                <!-- for deputy Chief Executive (Admin) -->
                <div class="img_disp" id="try">
                    <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}"
                        alt="pre-cons-left" class="image_file">
                    <!-- <img src="static/img/leaders/_DSC6335.jpg" alt="pre-cons-left" class="image_file"> -->
                    <div class="overlay">
                        <div id="pro">
                            <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                            <a href="{{ url_for('static', filename='img/leaders/Ing. Frederick Aduagyei.jpg') }}"
                                data-lightbox="profile" data-title="Pic-3" data-alt="Pic-3.jpg">
                                Profile
                            </a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ing. Fredrick Aduagyei</h4>
                        <span>Deputy Chief Executive (Development)</span>
                    </div>
                </div>


                <!-- for deputy Chief Executive (Dev) -->
                <div class="img_disp" id="try">
                    <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}"
                        alt="pre-cons-left" class="image_file">
                    <!-- <img src="static/img/leaders/_DSC6335.jpg" alt="pre-cons-left" class="image_file"> -->
                    <div class="overlay">
                        <div id="pro">
                            <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                            <a href="{{ url_for('static', filename='#') }}"
                                data-lightbox="profile" data-title="Pic-3" data-alt="Pic-3.jpg">
                                Profile
                            </a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ing. Samuel Akuaku</h4>
                        <span>Deputy Chief Executive (Administration)</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Divider header  -->
        <div>
            <h5 id="no_news">Directors</h5>
            <hr id="hr_divider" class="divider_bg m_bottom_25 warning">
        </div>

        <!-- For Administration -->
        <!-- first director Audit -->
        <div class="responsive" id="leader">
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/Dr. Frank Mawuyome kwame Gamadey.jpg') }}"
                    alt="pre-cons-left" class="image_file">
                <!-- <img src="static/img/leaders/DR. FRANK M.K GAMADEY.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/Dr. Frank Mawuyome new.jpg') }}"
                            data-lightbox="profile" data-title="Pic-1" data-alt="Pic-1.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Dr. Frank Mawuyome Kwame Gamadey</h4>
                    <span>Director, Audit</span>
                </div>
            </div>

            <!-- next director, HR-->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="{{ url_for('static', filename='img/leaders/MRS. VIVIAN YARCHOE.jpg') }}"
                            data-lightbox="profile" data-title="Pic-2" data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mrs. Vivian Y. Ghansah</h4>
                    <span>Director, Human Resources</span>
                </div>
            </div>

             <!-- next director, MIS-->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/leaders/_DSC6316.JPG') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/Foster Ekuede Lelekele.jpg') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Foster Ekuede Lelekele</h4>
                    <span>Ag. Director, MIS</span>
                </div>
            </div>

             <!-- next director, Finance -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Eric Ofori Amanfo (Esq.)</h4>
                    <span>Director, Finance</span>
                </div>
            </div>

            <!-- next director, Legal Service -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ms Irene Atobra (Esq.)</h4>
                    <span>Ag. Director, Legal Services</span>
                </div>
            </div>

            <!-- next director, Public Affairs -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Cecil Nii Obodai Wentum</h4>
                    <span>Ag. Director, Public Affairs</span>
                </div>
            </div>

            <!-- next director, Training and Development -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/JOYCE ESINU ADZO AGBEKA.jpg') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mrs. Joyce Agbeka</h4>
                    <span>Director, Training and Development</span>
                </div>
            </div>

        </div>


        <!-- For Development -->
        <!-- Director of Planning -->
        <div class="responsive" id="leader">
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}"
                    alt="pre-cons-left" class="image_file">
                <!-- <img src="static/img/leaders/DR. FRANK M.K GAMADEY.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/#') }}"
                            data-lightbox="profile" data-title="Pic-1" data-alt="Pic-1.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Eric Odosu</h4>
                    <span>Director, Planning</span>
                </div>
            </div>

            <!-- next director, Survey and Design-->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-right"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6322.jpg" alt="pre-cons-right" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-2" data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Paul Yaw Adanse-Pippim Duah</h4>
                    <span>Director, Survey and Design</span>
                </div>
            </div>

             <!-- next director, Contracts-->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/leaders/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Contracts</h4>
                    <span>Ag. Director, Contracts</span>
                </div>
            </div>

             <!-- next director, Materials -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Edmund Obeng</h4>
                    <span>Ag. Director, Materials</span>
                </div>
            </div>

            <!-- next director, Bridges -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Bridges</h4>
                    <span>Director, Bridges</span>
                </div>
            </div>

            <!-- next director, Road Safety and Environment -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Joseph Atsu Amedzake</h4>
                    <span>Director, Road Safety and Environment</span>
                </div>
            </div>

            <!-- next director, Quantities -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Mallam Issah Issahaku </h4>
                    <span>Director, Quantities</span>
                </div>
            </div>


            <!-- next director, Road Maintenance -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Ing. Mark Okyere</h4>
                    <span>Director, Road Maintenance</span>
                </div>
            </div>


            <!-- next director, Plant and Equipment -->
            <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO main.jpg') }}" alt="pre-cons-left"
                    class="image_file">
                <!-- <img src="static/img/leaders/_DSC6316.jpg" alt="pre-cons-left" class="image_file"> -->
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="{{ url_for('static', filename='img/#') }}"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>Mr. Gershon Dzakpata</h4>
                    <span>Ag. Director, Plant and Equipment</span>
                </div>
            </div>

        </div>
       

    </div>
</div>
{% endblock content %}