{% extends "includes/layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" style="margin-top: 50px; margin-left: 2%;">
        <div class="col-md-8" id="tbl_h3" style="margin-top: -2%;">
            <h3 id="table_h3">Mission &#38; Vision</h3>
            <div>
                <h3><i class="fa fa-eye"></i>&nbsp;&nbsp;Vision</h3>
                <p style="margin-left: 38px;">
                    To be a <b>world class</b> provider of safe road infrastructure. 
                </p>
            </div>
            <div>
                <h3><i style="font-size: 23px;" class="fa fa-tasks"></i>&nbsp;&nbsp;Mission</h3>
                <p style="margin-left: 38px; font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 24px; color: #444444;">
                    To provide Road Infrastructure Engineering and Management 
                    Services at best value – least cost to support the socio-economic 
                    development of Ghana and beyond.
                </p>
            </div>
            <div class="mar_id">
                <h3><i style="font-size: 23px;" class="fa fa-briefcase"></i>&nbsp;&nbsp;Core Values</h3>
                <p style="margin-left: 38px;">
                    Our staff is our most important resource. We aim to carry our core 
                    duties with a GHA workforce that is harmonious, highly motivated and 
                    professional. We believe that the following core values [<b>C<sup>2</sup>EP<sup>2</sup>I</b> in short] would help us 
                    achieve our vision and mission:
                </p>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Collaboration</strong></span>
                    <p style="margin-left: 40px;">
                        We build our organization through teamwork and work closely 
                        with other agencies to achieve our common objectives.
                    </p>
                </div>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Integrity</strong></span>
                    <p style="margin-left: 37px;">
                        We work and conduct ourselves with fairness, honesty  
                        and professional ethics.
                    </p>
                </div>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Excellence</strong></span>
                    <p style="margin-left: 37px;">
                        We deliver responsive services of the highest quality to the public.
                    </p>
                </div>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Care</strong></span>
                    <p style="margin-left: 37px;">
                        We care about, listen to, and respond to our employees and their family needs.
                    </p>
                </div>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Personnel Development</strong></span>
                    <p style="margin-left: 37px;">
                        Through a variety of learning opportunities we develop the 
                        professional skills of all our employees.
                    </p>
                </div>
                <div>
                    <i class="fa fa-circle"></i><span style="margin-left: 13px;"><strong>&nbsp; &nbsp;Proactive</strong></span>
                    <p style="margin-left: 37px;">
                        We anticipate problems and events and adequately plan and act appropriately.
                    </p>
                </div>
            </div>
            
        </div>
        {% include 'includes/sidebar.html' %} 
    </div>
</div> 
{% endblock content %} 