{% extends "includes/layout.html" %}
{% block content %}

<style>
    .lab{
        width: 250px; height: 40px; 
        display: block;
        background-color:#b8c3ff;
        color: #333;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 44px;
        border-radius: 10px;
        line-height: 20px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 15px;
        margin-right: 20px;
    }

    .lab:hover {
        background-color: #01368c;
        color: #fff;
    }

    .title_head{
        padding-bottom: 10px;
        color: #000;
        font-weight: bold;
    }

    table{
        font-family: "Montserrat", sans-serif;
        width: 100%;
    }

    td{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1px;
        line-height: 20px;
    }

    th {
        border: 1px solid #dddddd;
        border-collapse: collapse;
        text-align: left;
        padding: 8px;
        line-height: 20px;
    }

    tr:nth-child(even){
        background-color: #dddddd;
    }

    .img_new{
        height: 270px;
        width: 860px;
    }

     /* Extra small devices (phones, 600px and down) */
     @media only screen and (max-width: 600px) {
        .lab {
        width: 335px;
        }

        #periodic {
            flex-direction: column;

        }


        .img_new {
            height: 170px;
            width: 335px;

        }


        table {
            font-family: "Montserrat", sans-serif;
            width: 100%;
            margin-right: -2%;
            font-size: 14px;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 0.5px;
            line-height: 17px;
        }

        th {
            border: 1px solid #dddddd;
            border-collapse: collapse;
            text-align: left;
            padding: 8px;
            line-height: 16px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

       
    }

</style>

<div class="container">
    <div class="row blog_details_inner" style="margin-top:30px; margin-left: 2%;">
        <h3 id="table_h3">Laboratory Tests And Services</h3>
        <div id="periodic" style="margin-top: 2%; display: flex;">
            <!-- <div class="col-md-8" id="periodic" style="margin-top: 2%; display: flex;"> -->
            <div>
                <a class="lab" href="{{ url_for('main.foundations')}}">Foundations</a>
                <a class="lab" href="{{ url_for('main.soil_agg_con')}}">Soil, Aggregate and Concrete</a>
                <a class="lab" href="{{ url_for('main.bitumen') }}">Bitumen and Bituminous Products</a>
                <a class="lab" href="{{ url_for('main.pavements') }}">Pavements</a>
            </div>
           
            <div style="font-size: 18px; font-family: 'Montserrat', sans-serif;">
                <div>
                    <img class="img_new" src="{{ url_for('static', filename='img/lab/asphalt-cement.jpg')}}" alt="asphalt-cement image not available" />
                </div>
                <!-- <div class="inv-region region-content col-sm-12 col-md-9 col-lg-9"> -->
                    <h3 style="padding-bottom: 10px">PAVEMENTS</h3>
                    <h4>FEES AND CHARGES (AMENDMENT INSTRUMENT, 2014 (L.I. 2216)</h4>
                    <p>NEW RATES FOR LABORATORY TESTS AND SERVICES</p>

                    <div style="overflow-x:auto;" class="col-md-12">
                    <table>
                        <tr>
                            <th>CODE NO.</th>
                            <th>DESCRIPTION</th>
                            <th>FILE NO.</th>
                            <th>OLD RATE GHC</th>
                            <th>NEW RATE GHC</th>
                        </tr>

                        <tr>
                            <th colspan="5">CORING THROUGH CONCRETE</th>
                        </tr>
        
                        <tr>
                            <td>92</td>
                            <td>Coring Plain Concrete 100 mm Thick</td>
                            <td>SA/FT/07</td>
                            <td>180.00</td>
                            <td>300.00</td>
                        </tr>
                        <tr>
                            <td>93</td>
                            <td>Coring Plain Concrete 150 mm Thick</td>
                            <td>SA/FT/08</td>
                            <td>190.00</td>
                            <td>350.00</td>
                        </tr>
                        <tr>
                            <td>94</td>
                            <td>Coring Plain Concrete 200 mm Thick</td>
                            <td>SA/FT/09</td>
                            <td>200.00</td>
                            <td>400.00</td>
                        </tr>
                        <tr>
                            <td>95</td>
                            <td>Coring Plain Concrete 300 mm Thick</td>
                            <td>SA/FT/10</td>
                            <td>300.00</td>
                            <td>450.00</td>
                        </tr>
                        <tr>
                            <td>96</td>
                            <td>Coring Reinforced Concrete 150 mm Thick</td>
                            <td>SA/FT/11</td>
                            <td>300.00</td>
                            <td>500.00</td>
                        </tr>
                        <tr>
                            <td>97</td>
                            <td>Coring Reinforced Concrete 200 mm Thick</td>
                            <td>SA/FT/12</td>
                            <td>350.00</td>
                            <td>550.00</td>
                        </tr>
                        <tr>
                            <td>98</td>
                            <td>Coring Reinforced Concrete 300 mm Thick</td>
                            <td>SA/FT/13</td>
                            <td>550.00</td>
                            <td>600.00</td>
                        </tr>

                        <tr>
                            <th colspan="5">NON-DESTRUCTION TESTS</th>
                        </tr>
        

                        <tr>
                            <td>99</td>
                            <td>Falling Weight Deflectometer (FWD) Test</td>
                            <td>PV/FT/01</td>
                            <td>2,500.00(per day)</td>
                            <td>3,500.00</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>Roughness Measurement</td>
                            <td>PV/FT/03</td>
                            <td>2,200.00(per day)</td>
                            <td>3,000.00</td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>Pavement Design Manual</td>
                            <td>PV/LT/01</td>
                            <td>250.00</td>
                            <td>400.00</td>
                        </tr>
                        <tr>
                            <td>102</td>
                            <td>Dynamic Cone Penetration Test (DCP) - TRL/DIN </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Invoice</td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>
{% endblock content %}