{% extends "includes/layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" style="margin-top: 50px; margin-left: 2%;">
        <div class="col-md-8" id="tbl_h3" style="margin-top: -2%;">
            <h3 id="table_h3" style="width: 842px;">NUMBER OF PROJECTS</h3>
            <div>
                <table class="table table-bordered" style="margin-left: 8px; text-align: center; margin-top: 20px;">
                    <thead style="font-weight: bolder; line-height: 55px; font-size: medium;">
                        <tr>
                            <td rowspan="2">ACTIVITY</td>
                            <td colspan="5">NO. OF PROJECTS/SOURCES OF FUNDING</td>
                            <td rowspan="2">LENGTH (KM)</td>
                        </tr>
                        <tr>
                            <td>CONSOLIDATED FUNDS</td>
                            <td>GOLD FIELDS GHANA LIMITED</td>
                            <td>ROAD FUND</td>
                            <td>ENHANCED ROAD FUND</td>
                            <td>COCOBOD</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;">
                        <tr> 
                            <td>REGRAVELLING/SPOT IMPROVEMENT</td>
                            <td></td>
                            <td></td>
                            <td>93</td>
                            <td></td>
                            <td></td>
                            <td>657.00</td>
                        </tr>
                        <tr> 
                            <td>RESEALING</td>
                            <td></td>
                            <td></td>
                            <td>65</td>
                            <td>1</td>
                            <td></td>
                            <td>438.10</td>
                        </tr>
                        <tr> 
                            <td>PARTIAL RECONSTRUCTION</td>
                            <td>17</td>
                            <td></td>
                            <td>5</td>
                            <td>2</td>
                            <td>26</td>
                            <td>902.60</td>
                        </tr>
                        <tr> 
                            <td>SECTIONAL REPAIRS/PARTIAL RECONSTRUCTION/ASPHALTIC OVERLAY</td>
                            <td>2</td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td>63.70</td>
                        </tr>
                        <tr> 
                            <td>TOWN ROADS</td>
                            <td>5</td>
                            <td></td>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td>52.20</td>
                        </tr>
                        <tr> 
                            <td>UPGRADING</td>
                            <td>62</td>
                            <td></td>
                            <td>33</td>
                            <td>16</td>
                            <td>32</td>
                            <td>2,901.80</td>
                        </tr>
                        <tr> 
                            <td>REHABILITATION (UNPAVED)</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>137.00</td>
                        </tr>
                        <tr> 
                            <td>REHABILITATION (PAVED)</td>
                            <td>10</td>
                            <td>2</td>
                            <td>3</td>
                            <td>7</td>
                            <td>4</td>
                            <td>918.80</td>
                        </tr>
                        <tr> 
                            <td>RECONSTRUCTION</td>
                            <td>6</td>
                            <td></td>
                            <td>4</td>
                            <td></td>
                            <td>4</td>
                            <td>540.40</td>
                        </tr>
                        <tr> 
                            <td>CONSTRUCTION</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>4</td>
                            <td>459.40</td>
                        </tr>
                        <tr> 
                            <td>CONSTRUCTION/REHABILITATION</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>12.00</td>
                        </tr>
                        <tr style="font-weight: bold;"> 
                            <td rowspan="2">TOTAL</td>
                            <td>103</td>
                            <td>2</td>
                            <td>210</td>
                            <td>33</td>
                            <td>70</td>
                            <td rowspan="2">7,083.00</td>
                        </tr>
                        <tr style="font-weight: bold;"> 
                            <td colspan="5">418</td>
                        </tr>
                    </tbody>
                </table> 
            </div><br>
        </div>
        
    </div>
</div> 
{% endblock content %} 