{% extends "includes/layout.html" %}
{% block content %}

<style>
    .axl {
        width: 250px;
        height: 40px;
        display: inline-block;
        background-color: #b8c3ff;
        color: #333;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 44px;
        border-radius: 10px;
        line-height: 28px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 15px;
    }

    .axl:hover {
        background-color: #01368c;
        color: #fff;
    }
    h2 {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: bold;
    }
    .img_new{
        width: 860px;
        height: 270px;
        vertical-align: 0;
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .axl {
            width: 335px;
        }

        #periodic {
            flex-direction: column;

        }

        .img_new {
            height: 150px;
            width: 335px;
            /* vertical-align: 10%; */
            margin-left: 0px;
        }

        #periodic {
            flex-direction: column;
        }

        .text {
            /* height: 320px; */
            width: 325px;
            text-align: justify center;
        }

        #no_news{
            text-align: center;
        }
    }
</style>

<div class="container">
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">AXLE LOAD</h3>
        <div id="periodic" style="margin-top: 2%; display: flex;">
            <!-- <div class="col-md-8" id="periodic" style="margin-top: 2%; display: flex;"> -->
            <div style="display: block;">
                <a class="axl" href="{{ url_for('main.axle_load') }}">Introduction</a>
                <a class="axl" href="{{ url_for('main.w_protocol') }}">Weighing Protocols</a>
                <a class="axl" href="{{ url_for('main.w_station') }}">Weighbridge Stations</a>
                <a class="axl" href="{{ url_for('main.d_limit') }}">Dimension Limits</a>
                <a class="axl" href="{{ url_for('main.overload_fine') }}">Overload Fine</a>
                <a class="axl" href="{{ url_for('main.effects') }}">Effects</a>
            </div>

            <div style="font-size: 18px; font-family: 'Montserrat', sans-serif;">
                <!-- <div class="inv-region region-content col-sm-12 col-md-9 col-lg-9"> -->
                <img class="img_new" src="{{ url_for('static', filename='img/axleload/WEIGHING.jpg')}}" alt="WEIGHING image not found"/>

                <!-- Weighing Protocols STARTs HERE -->
                <div class="text"
                    style="line-height: 26px; padding-left: 2px; padding-bottom: 20px; margin-left: 2%; justify-content: center;">
                    <h2 id="no_news">Weighing Protocols</h2>
                    <div class="application_text">

                        <ul style="break-after: 18px;">
                            <li><b>Step 1 - </b>Truck directed by police officer / an authorized officer to the
                                weighbridge station</li>
                            <li><b>Step 2 -</b>Driver submits waybill and truck directed to move onto the weighing scale
                            </li>
                            <li><b>Step 3 -</b>The gross weight of the truck shows on the external display device</li>
                            <li><b>Step 4 -</b>Dimension (length, Height and Width) of truck checked</li>
                            <li><b>Step 5 -</b>Weighing certificate issued to driver</li>
                            <li><b>Step 6 -</b>In the event of an overload, excess cargo(load) is shed off, fine paid
                                and payment receipt issued</li>
                            <li><b>Step 7 -</b> If the weighed truck is within the required limit, it proceeds on
                                journey</li>
                            <li><b>Step 8 -</b> Unauthorized payment should not be made at axle load station</li>
                        </ul>
                    </div>

                    <!-- AVAILABLE INFORMATION ENDS HERE -->
                </div>
            </div>


            
        </div>
    </div>
</div>
{% endblock content %}