{% extends "includes/layout.html" %}
{% block content %}

<style>
    .axl {
        width: 250px;
        height: 40px;
        display: inline-block;
        background-color: #b8c3ff;
        color: #333;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 44px;
        border-radius: 10px;
        line-height: 28px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 15px;
    }

    .axl:hover {
        background-color: #01368c;
        color: #fff;
    }

    h2 {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: bold;
    }

    /* This helps for the map to align with the page */
    #align_map {
        width: 860px
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .axl {
            width: 335px;
        }

        #periodic {
            flex-direction: column;

        }

        .img_new {
            height: 150px;
            width: 335px;
            /* vertical-align: 10%; */
            margin-left: 0px;
        }

        #periodic {
            flex-direction: column;
        }

        .text {
            /* height: 320px; */
            width: 325px;
            text-align: justify center;
        }

        .img_new {
            width: 330px;
            /* height: 270px; */
            vertical-align: 0;
        }

        #align_map {
            /* width: 0px; */
            width: auto;
        }

        #no_news {
            text-align: center;
        }

    }
</style>

<div class="container">
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">AXLE LOAD</h3>
        <div id="periodic" style="margin-top: 2%; display: flex;">
            <!-- <div class="col-md-8" id="periodic" style="margin-top: 2%; display: flex;"> -->
            <div style="display: block;">
                <a class="axl" href="{{ url_for('main.axle_load') }}">Introduction</a>
                <a class="axl" href="{{ url_for('main.w_protocol') }}">Weighing Protocols</a>
                <a class="axl" href="{{ url_for('main.w_station') }}">Weighbridge Stations</a>
                <a class="axl" href="{{ url_for('main.d_limit') }}">Dimension Limits</a>
                <a class="axl" href="{{ url_for('main.overload_fine') }}">Overload Fine</a>
                <a class="axl" href="{{ url_for('main.effects') }}">Effects</a>
            </div>

            <div style="font-size: 18px; font-family: 'Montserrat', sans-serif;">
                <!-- <div class="inv-region region-content col-sm-12 col-md-9 col-lg-9"> -->

                <!-- Weighing Protocols STARTs HERE -->
                <div style="line-height: 26px; padding-left: 2px;  margin-left: 2%;" id="align_map">
                    <h2 id="no_news">Location of the Weighbridge Stations</h2>
                    <img class="img_new" style="height: 50%;"
                        src="{{ url_for('static', filename='img/axleload/Axleload_stations.jpg')}}"
                        alt="no image for Axleload_stations" />
                </div>


            </div>



        </div>
    </div>
</div>
{% endblock content %}