{% extends "leavemgt/leavedash_layout.html" %}
{% block content %}
    <main>
        <div class="container-fluid">
            <!--<h1 class="mt-4">Dashboard</h1>-->
            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item active">Dashboard</li> 
            </ol>
            <!--<div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Staff List
                </div>
                <div class="card-body">
                    <div class="table-responsive"> 
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>HOFL NO.</th>
                                    <th>STAFF NO.</th>
                                    <th>SSNIT NO.</th>
                                    <th>NAME</th>
                                    <th>AGE</th>
                                    <th>JOB POSITION</th>
                                    <th>CATEGORY</th>
                                    <th>CAT. DIV</th>
                                    <th>DIV/STATION</th>
                                    <th>RETIREMENT NOTICE</th>
                                    <th>DATE ENGAGED</th>
                                    <th>PRES APPT</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff_list in staff_pers %}
                                <tr>
                                    <td>{{ staff_list.hofl_no }}</td>
                                    <td>{{ staff_list.staff_no }}</td> 
                                    <td>{{ staff_list.ssnit_no }}</td>
                                    <td>{{ staff_list.surname }} {{ staff_list.mid_name }} {{ staff_list.first_name }}</td>
                                    <td>
                                        {% if staff_list.emp_dob %}
                                            {% set dob = datetime.strptime(staff_list.emp_dob, "%Y-%m-%d") %}
                                            {% set age = today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day)) %}
                                            {{age}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for key, value in staff_list.promotion.items() %}
                                            {{ value[0]['promo_rank']|title }}
                                        {% endfor %}
                                    </td>
                                    <td>{{ staff_list.category }}</td>
                                    <td>{{ staff_list.catbydiv }}</td>
                                    <td>
                                        {% for key, value in staff_list.postings.items() %}
                                            {{ value[0]['posting_st']|title }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if staff_list.emp_dob %}
                                        {% set dob = datetime.strptime(staff_list.emp_dob, "%Y-%m-%d") %}
                                        {% set age = today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day)) %}
                                        {% if age >= 58 and age < 59 %}
                                            <span class="btn btn-warning btn-sm">Pension Due</span>
                                        {% elif age >= 59 and age < 60 %}
                                            <span class="btn btn-danger btn-sm">Pension Due</span>
                                        {% elif age > 59 %}
                                            <span class="btn btn-danger btn-sm">Pension</span>
                                        {% else %}
                                            <span class="btn btn-success btn-sm">In Service</span>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ staff_list.date_engaged }}
                                    </td>
                                    <td>
                                        {% for key, value in staff_list.promotion.items() %}
                                            {{ value[0]['promo_date_from'] }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}