<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('leavemgt.leave_dash') }}">Dashboard</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('admin.create_blog') }}">Add Blog Post</a></li>
            <li><a href="{{ url_for('admin.blog_posts') }}">Update Posts</a></li>
            <li><a href="{{ url_for('admin.add_contract') }}">Add Contract</a></li>
            <li><a href="{{ url_for('admin.add_image') }}">Add Image</a></li>
            <li><a href="{{ url_for('admin.admin_view_employee_list') }}">Employee Details</a></li>
            
            
            <li><a href="{{ url_for('leavemgt.leave_dash') }}">Leave Management</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('admin.register_staff') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="{{ url_for('admin.admin_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
</div>