{% extends "includes/layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 1%; width: fit-content;">
        <h3 class="table_h3" id="table_h3">
            PRE-CONSTRUCTION PROJECTS 
            <span style="font-size: medium;">(COMPLETED)</span>
        </h3>
        
        <table id="mytable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>REGION</th>
                    <th>PROJECT</th>
                    <th>LENGTH (Km)</th>
                    <th>CONTRACTOR</th>
                    <th>DATE OF COMMENCE</th>
                    <th>DATE OF COMPLETION</th>
                    <th>ORIGINAL CONTRACT SUM(GH¢)</th>
                    <th>TOTAL AMOUNT CERT. TO DATE(GH¢)</th> 
                    <th>VIEW DETAILS</th> 
                </tr> 
            </thead>
            <tbody>
                {% for precons in precons_list %} 
                    <tr>  
                        <td>{{ precons.region }}</td>
                        <td>{{ precons.project }}</td>
                        <td>{{ precons.length }}</td>
                        <td>{{ precons.contractor }}</td>
                        <td>{{ precons.date_commenced }}</td>
                        <td>{{ precons.date_completed }}</td>
                        
                        {% if precons.contract_sum == "N/A" %}
                            <td>{{ precons.contract_sum }}</td>
                        {% else %}
                            <td>{{ "{:,.2f}".format(precons.contract_sum|float) }}</td>
                        {% endif %}

                        {% if precons.amt_to_date == "N/A" %}
                            <td>{{ precons.amt_to_date }}</td>
                        {% else %}
                            <td>{{ "{:,.2f}".format(precons.amt_to_date|float) }}</td>
                        {% endif %}

                        <td style="text-align: center;">
                            <a href="{{ url_for('completed_proj.precons_contract', contract_id=precons.id) }}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <div>
            <form action="" method="post">
                <div class="col-md-6">
                    <label for="start_date">From :</label>
                    <div class="input-group date" id="datetimepicker6">
                        <input type="text" class="form-control" name="start_date" id="start_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="end_date">To :</label>
                    <div class="input-group date" id="datetimepicker7">
                        <input type="text" class="form-control" name="end_date" id="end_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span> 
                    </div>
                </div><br><br><br>
                
                <div class="col-md-6" id="completed_precons_sum">
                    <label for="">Contract Sum</label>
                    <input class="form-control" type="text" name=""  value="{{ sum }}"readonly>
                </div><br><br><br>
                <!--<div class="col-md-6">
                    <label for="">Contract Sum</label>
                    <input class="form-control" type="text" name="" id="" value="0.00">
                </div><br><br><br>-->
                <div class="form-group col-md-6">
                    <input type="submit" class="btn btn-info" id="completed_precons_sub" name="submit" value="Submit">
                </div> 
            </form>        
        </div>
    </div>
</div>
{% endblock content %}