{% extends "includes/layout.html" %} 
{% block content %}

<style>
    
</style>

<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%; margin-top: 50px;"> 
        <div class="col-md-8" id="tbl_h4" style="margin-top: -2%;" >
            <h3 id="table_h3" style="text-transform: uppercase;">{{ rehab.project }}</h3>
            {% if rehab.video_link != "N/A" %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ contract_id }}?controls=1" allowfullscreen></iframe>
            </div>
            <div></div>
            <div><b>&nbsp;</b></div>
            {% elif rehab.image_one !="N/A" or rehab.image_two != "N/A" %}
            <div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='completed_proj/' +rehab.image_one) }}" alt="project_image.jpg">
                </div>
                <div>
                    <img class="no_vid" src="{{ url_for('static', filename='completed_proj/' +rehab.image_two) }}" alt="project_image.jpg">
                </div>
            </div>
            {% else %}
            <div>
                <div style="font-style: italic; font-size: 17px; margin-left: 12px; font-weight: 400;">
                    No Image/Video can be found
                </div>
            </div><br>
            {% endif %} 
            <table class="table table-striped table-borderless"> 
                <tbody style="border-collapse: collapse;">
                    <tr>
                        <th>Project Title</th>
                        <td>{{ rehab.project }}</td> 
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>{{ rehab.region }}</td>
                    </tr>
                    <tr> 
                        <th>Amount Cert. to Date (GHS)</th>
                        {% if rehab.amt_to_date == "N/A" %}
                            <td>{{ rehab.amt_to_date }}</td>
                        {% else %}
                            <td>{{ "{:,.2f}".format(rehab.amt_to_date|float) }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Date of Commence</th>
                        {% if rehab.date_commenced is none %}
                            <td>{{ rehab.date_commenced }}</td>
                        {% else %}
                            <td>{{ rehab.date_commenced.strftime('%d %B, %Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Completion Date</th>
                        {% if rehab.date_completed is none %}
                            <td>{{ rehab.date_completed }}</td>
                        {% else %}
                            <td>{{ rehab.date_completed.strftime('%d %B, %Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Contractor</th>
                        <td>{{ rehab.contractor }}</td>
                    </tr>  
                </tbody>
            </table>           
        </div>
        {% include 'includes/sidebar.html' %}
    </div>
</div>
{% endblock content %} 