{% extends "includes/layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">UPGRADING PROJECTS</h3>
        
        <table id="mytable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>NAME OF CONTRACT</th>
                    <th>LENGTH (Km)</th>
                    <th>LOT</th>
                    <th>CONTRACT SUM (GHS)</th>
                    <th>CONTRACTOR</th>
                    <th>DATE OF COMMENCE</th>
                    <th>DATE OF COMPLETION</th>
                    <th>VIEW DETAILS</th>
                </tr>
            </thead>
            <tbody>
                {% for table_data in contract %} 
                    <tr>  
                        <td>{{ table_data.name_of_contract }}</td>
                        <td>{{ table_data.length }}</td>
                        <td>{{ table_data.lot }}</td>
                        <td>{{ table_data.contract_sum }}</td>
                        <td>{{ table_data.contractor }}</td>
                        <td>{{ table_data.date_commenced }}</td>
                        <td>{{ table_data.date_completed }}</td>
                        <td style="text-align: center;"><a href="{{ url_for('projects.view_contract', contract_id=table_data.id)}}"><i class="fa fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <div>
            <form action="" method="post">
                <div class="col-md-6">
                    <label for="start_date">From :</label>
                    <div class="input-group date" id="datetimepicker6">
                        <input type="text" class="form-control" name="start_date" id="start_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="end_date">To :</label>
                    <div class="input-group date" id="datetimepicker7">
                        <input type="text" class="form-control" name="end_date" id="end_date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span> 
                    </div>
                </div><br><br><br>
                
                <div class="col-md-6" id="project_sum">
                    <label for="">Contract Sum</label>
                    <input class="form-control" type="text" name="" id="" value="{{ sum }}">
                </div><br><br><br>
                <!--<div class="col-md-6">
                    <label for="">Contract Sum</label>
                    <input class="form-control" type="text" name="" id="" value="0.00">
                </div><br><br><br>-->
                <div class="form-group col-md-6">
                    <input type="submit" class="btn btn-info" id="table_sum" name="submit" value="Submit">
                </div>
                {{ form.csrf_token }}  
            </form>        
        </div>
    </div>
</div>
{% endblock content %}