<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Williams Osei Prempeh &amp; Divine Duah">

    <link rel="icon" href="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO small no text.png') }}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if title %}
    <title>Ghana Highway Authority</title>
    {% else %}
    <title>Ghana Highway Authority - G.H.A</title>
    {% endif %}
    <!-- Icon css link -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">


    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">



    <!-- for responsive datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    <!--Added Bootstrap for contact_page-->


    <!-- slick css  -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">




    <!-- Rev slider css -->
    <link href="{{ url_for('static', filename='vendors/revolution/css/settings.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/revolution/css/layers.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/revolution/css/navigation.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/owl-carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

    <!--DataTables-->
    <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/css/jquery.dataTables.min.css') }}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
        [if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        ![endif]  -->

</head>
<style>

/* <!--style for button to send user to the start of the page --> */
    #my-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        user-select: none;
        background-color: #dc3545;
        border-color: transparent;
        padding: .375rem .75rem;
        font-size: 1.5rem;
        line-height: 1.5;
        border-radius: 1.25rem;
        width: 50px;
        height: 50px;
    }

    /* start for quotes fuction */
    button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    #quote {
            margin-top: 20px;
            font-style: italic;
            color: white;
        }
        /* end for quotes fuction */
</style>

<body>


    <!--================Header Area =================-->
    <header class="main_header_area">
        <div class="header_top_area">
            <div class="container">
                <div class="pull-left">
                    <a href="#"><i class="fa fa-phone"></i>0302-961616, 0302-961620</a>
                    <a href="#"><i class="fa fa-map-marker"></i>Accra Ministries, Ghana</a>
                    <a href="#"><i class="fa fa-map-marker"></i>Digital Add: GA-107-2101</a>
                    <a href="#"><i class="mdi mdi-clock"></i>08 AM - 5 PM</a>
                </div>
                <div class="pull-right">
                    <ul class="header_social" style="margin-right: -15px;">
                        <li>
                            <a href="https://www.twitter.com/highwaysghana/" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/highwaysghana/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/highwaysghana/" target="_bank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                        {% if current_user.is_authenticated %}
                        {% if current_user.role_id == 3 %}
                        <li><a href="{{ url_for('leavemgt.leave_dash') }}">PORTAL</a></li>
                        <li><a href="{{ url_for('users.logout') }}"><i class="fa fa-sign-out mr-20"></i>&nbsp;LOGOUT</a>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('users.user_dashboard', user_name=current_user.name) }}">PORTAL</a></li>
                        <li><a href="{{ url_for('users.logout') }}"><i class="fa fa-sign-out mr-20"></i>&nbsp;LOGOUT</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li><a href="{{ url_for('main.landing_page') }}"><i
                                    class="fa fa-sign-in mr-20"></i>&nbsp;PORTAL</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu_area">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('main.home') }}"><img
                                src="{{ url_for('static', filename='img/HIGHWAYS OFFICIAL LOGO 1.jpg') }}" alt=""
                                style="width:190px;height:72px;"></a>
                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('main.home') }}">Home</a></li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">About US</a>
                                <ul class="dropdown-menu" id="hello">
                                    <li><a href="{{ url_for('main.mission') }}">Vision &#38; Mission</a></li>

                                    <li class="dropdown submenu">
                                        <a href="#" class="test">Organizational Structure&nbsp;
                                            <span class="fa fa-plus"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ url_for('main.organogram') }}">Organogram</a></li>
                                            <li><a href="{{ url_for('main.leaders') }}">Leadership</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('main.ceo_office') }}">C.E's Office</a></li>
                                    <li><a href="{{ url_for('main.division') }}">Department</a></li>
                                    <li><a href="{{ url_for('main.inst_prof') }}">Institution Profile</a></li>
                                    <!-- <li><a href="{{ url_for('main.contractors') }}">Eng. Consultancies</a></li> -->
                                    <li><a href="{{ url_for('main.regional_directors') }}">Regional Directors</a></li>
                                    <!-- <li><a href="{{ url_for('main.careers') }}">Careers</a></li> -->
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Projects</a>
                                <ul class="dropdown-menu" id="hello">
                                    <li><a href="{{ url_for('main.completed_periodic') }}">Completed Projects&nbsp;
                                            <span class="fa fa-plus"></span>
                                        </a>
                                        <!-- <ul>
                                                <li><a href="{{ url_for('main.completed_periodic') }}">Periodic</a></li> 
                                                <li><a href="{{ url_for('main.completed_routine') }}" >Routine</a></li>   
                                            </ul> -->
                                    </li>
                                    <li><a href="{{ url_for('main.ongoing_periodic') }}">Ongoing Projects&nbsp;
                                            <span class="fa fa-plus"></span>
                                        </a>
                                        <!-- <ul> 
                                                <li ><a href="{{ url_for('main.ongoing_periodic') }}">Periodic</a></li>
                                                <li ><a href="{{ url_for('main.ongoing_routine') }}" >Routine</a></li>   
                                            </ul> -->
                                    </li>
                                    <!-- <li><a href="{{ url_for('projects.planned_proj') }}">Projects Under Planning</a></li> -->
                                    <!-- <li><a href="{{ url_for('projects.critical_roads') }}">Critical Roads</a></li> -->
                                    <li><a href="{{ url_for('projects.terminated_proj') }}">Terminated Projects</a></li>
                                    <li><a href="{{ url_for('projects.awarded_proj') }}">Awarded Projects</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Services</a>
                                <ul class="dropdown-menu" id="hello">
                                    <li><a href="{{ url_for('main.foundations')}}">Lab. Test and Services&nbsp;
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Safety</a>
                                <ul class="dropdown-menu" id="hello">
                                    <li><a href="{{ url_for('main.road_safety')}}">Road Safety&nbsp;
                                    <li><a href="{{ url_for('main.axle_load')}}">Axle Load&nbsp;
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <!-- for Road safety
                                <li><a href="{{ url_for('main.road_safety')}}">Road Safety</a></li> -->

                            <!-- for axle load page
                                <li><a href="{{ url_for('main.axle_load')}}">Axle Load</a></li> -->

                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Downloads</a>
                                <ul class="dropdown-menu" id="hello">
                                    <li><a href="{{ url_for('main.reports') }}">Reports&nbsp;
                                        </a>

                                        <!-- <ul>
                                                <li><a href="#">Annual Report</a></li>
                                                <li><a href="#">Quarterly Report</a></li>
                                                <li><a href="{{ url_for('main.status_report') }}">Status Report</a></li>
                                                <li><a href="{{ url_for('main.road_con_survey') }}">Road Con. Survey</a></li>
                                            </ul> -->
                                    </li>
                                    <li><a href="#" class="test">Forms&nbsp;
                                            <span class="fa fa-plus"></span>
                                        </a>
                                        <ul>
                                            <!-- <li><a href="{{ url_for('generalforms.defect') }}">Defect Report</a></li> -->
                                            <!-- <li ><a href="{{ url_for('generalforms.leave') }}">Leave</a></li> -->
                                            <li ><a href="{{ url_for('generalforms.others') }}">Others</a></li> 
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('main.rti_page') }}">RTI</a></li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Media/News</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('blogs.blog')}}">Latest News</a></li>
                                    <li><a href="{{ url_for('main.upcoming_event') }}">Upcoming Events</a></li>
                                    <li><a href="{{ url_for('main.photo_gallery') }}">Photo Gallery</a></li>
                                    <li><a href="{{ url_for('main.video_gallery') }}">Video Gallery</a></li>
                                    <li><a href="{{ url_for('main.road_net') }}">Road Network</a></li>
                                    <!-- <li><a href="{{ url_for('main.xptShare') }}">XptShare Videos</a></li> -->
                                </ul>
                            </li>
                            <li><a href="{{ url_for('main.contacts_page') }}">Contact Us</a></li>
                            <!-- <li><a href="{{ url_for('main.careers') }}">Careers</a></li> -->
                                    <!-- for the search box -->
                                    <!-- {% if g.search_form %}
                                        <form method="get" action="#">
                                            <div class="form-group">
                                                {{ g.search_form.q(size=20,style="height: 36px; color: #31353d; 
                                                                    border: 1px solid #aaa; border-radius: 3px; 
                                                                    font-family: 'Montserrat', sans-serif;",  
                                                                    placeholder=g.search_form.q.label.text) }}
                                            </div>
                                        </form> -->
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->



                </nav>
            </div>
        </div>
    </header>
    <!--================Header Area =================-->

    <!--Display Flash messages if any-->
    <div style="margin-top: 13%; margin-left: 99px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="alert alert-{{ category }}" style="width: 44.2%; margin-left: 12%; margin-bottom: 5px;">
            {{ message }}
        </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!--Area for the Display of other contents/pages-->

    {% block content %}{% endblock %}
    <!--================Address Area =================-->
    <section class="address_area" style="margin-top: 8%;">
        <div class="container">
            <div class="row address_inner">
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ url_for('static', filename='img/icon/place-icon.png') }}" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Office Address :</h4>
                            <h5>HEAD OFFICE</h5>
                            <h5>P.O.Box GP 1641</h5>
                            <h5>Ministries</h5>
                            <h5>Accra - Ghana</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ url_for('static', filename='img/icon/phone-icon.png') }}" alt="">
                        </div>
                        <div class="media-body">
                            <h5>0303-967364 (Reception)</h5>
                            <h5>0302-961616</h5>
                            <h5>0302-961620</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ url_for('static', filename='img/icon/inbox-icon.png') }}" alt="">
                        </div>
                        <div class="media-body">
                            <h5>ce@highways.gov.gh</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Address Area =================-->

    <!--================Footer Area =================-->
    <footer class="footer_area">
        <div class="footer_widgets_area">
            <div class="container">
                <div class="row footer_widgets_inner">
                    <div class="col-md-3 col-sm-6">
                        <aside class="f_widget about_widget">
                            <div class="f_w_title_1">
                                <h3>Ghana Highway Authority</h3>
                            </div>
                            <p>
                                The Ghana Highway Authority was established as a
                                body corporate under NRC Decree 298 in December 1974.
                                The NRCD 298 was repealed by GHA Act 1997 (Act 540 ) which limited
                                the Authority's responsibility to the administration, control,
                                development and maintenance of the country's trunk road network
                                totalling 15,000 km and related facilities in Ghana.
                            </p>
                            <ul>
                                <li>
                                    <a href="https://www.twitter.com/highwaysghana/" target="_blank"><i
                                            class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/highwaysghana/" target="_blank"><i
                                            class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/highwaysghana/" target="_bank"><i
                                            class="fa fa-instagram"></i></a>
                                </li>

                            </ul>
                        </aside>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <aside class="f_widget recent_widget">
                            <div class="f_w_title">
                                <h3>Recent Posts</h3>
                            </div>
                            {% if posts %}
                            <div class="recent_w_inner">
                                {% for post in posts[:3] %}
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename='blog_images/' + post.image) }}"
                                            style="width: 95px; height: 63px;" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="{{ url_for('blogs.blog_post', post_id=post.id, slug=post.slug) }}">
                                            <p>{{ post.title | truncate(60, True) }}</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="recent_w_inner">
                                <p
                                    style="color: #e8e8e8;font-family: 'Open Sans', sans-serif; line-height: 20px;font-size: 15px;">
                                    There are no recent Posts
                                </p>
                            </div>
                            {% endif %}
                        </aside>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <aside class="f_widget address_widget">
                            <div class="f_w_title">
                                <h3>Office Address</h3>
                            </div>
                            <div class="address_w_inner">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-address-card-o"></i>
                                    </div>
                                    <div class="media-body">
                                        <p>P.O.Box GP 1641</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="media-body">
                                        <p>Accra - Ghana</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="media-body">
                                        <p>0303-967364 (Reception)</p>
                                        <p>0302-961616</p>
                                        <p>0302-961620</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-fax">&nbsp;FAX</i>
                                    </div>
                                    <div class="media-body">
                                        <p>03220-28019(Direct)</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="media-body">
                                        <p>ce@highways.gov.gh</p>
                                    </div>
                                </div>

                            </div>
                        </aside>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <aside class="f_widget give_us_widget">
                            <h5>Give Us A Call</h5>
                            <h3 style="color: yellow;">Reception:</h3>
                            <h3 style="color: #b8c3ff">0303-967364</h3>
                            <h4>0302-961616/<br>961620/961641<br>961427/966303</h4>
                            <br><br>
                            <a class="get_bg_btn" href="{{ url_for('main.landing_page') }}">
                                PORTAL
                            </a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy_right">
            <div class="container">
                <h4>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Ghana Highway
                    Authority
                    <!-- <i
                        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a> -->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </h4>
                <!-- <div class="gototop">TOP</div> -->

                <!-- button to send user to the start of the page -->
                <!-- <a href="#" class="position-absolute bottom-0 end-0 p-5">
                    <i class="bi bi-arrow-up-circle h1"></i> -->
                </a>
            </div>
        </div>
        <!-- button to send user to the start of the page -->
        <button id="my-btn" title="Go To Top">Top</button>
    </footer>

    <!--================End Footer Area =================-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
            let btn = $("#my-btn");  // Get the button

            $(window).scroll(function () {
                // If the user scrolls down 100px from the top of the document
                if ($(this).scrollTop() > 100) {
                    btn.fadeIn();   // show the button
                } else {
                    btn.fadeOut();  // hide the button
                }
            });

            // When the user clicks on the button, scroll to the top of the document
            btn.click(function () {
                $("html, body").animate({ scrollTop: 0 }, 300);
            });
        });

    </script>


    <!-- slick cdn js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript">
        // $('.leadership.carousel_show').slick();

        // $('.responsive').slick({
        //     slidesToShow: 3,
        //     slidesToScroll: 1,
        //     autoplay: true,
        //     autoplaySpeed: 2000,
        //     // arrow: false,
        // });

        $('.responsive').slick({
            // dots: true,
            centerMode: true,
            autoplay: true,
            // autoplaySpeed: 2000,
            infinite: true,
            speed: 500,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        infinite: true,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false,

                    }
                },

                {
                    breakpoint: 600,
                    settings: {
                        infinite: true,
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        dots: false,
                        mobileFirst: true,

                    }
                },

                {
                    breakpoint: 480,
                    settings: {
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        arrows: false,
                        autoplay: true,
                        autoplaySpeed: 4000,

                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]


            // centerMode: true,
            // slidesToShow: 1,
            // slidesToScroll: 1,
            // dots: true,
            // infinite: true,
            // cssEase: 'linear',
            // mobileFirst: true, //optional, to be used only if your page is mobile first
            // responsive: [{
            //     breakpoint: 1024,
            //     settings: {
            //         slidesToShow: 4,
            //         slidesToScroll: 1,
            //         centerMode: false,
            //     }
            // }]



        });

    </script>

    <script src="{{ url_for('static', filename='js/radio.js') }}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'disableScrolling': true
        })
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <!-- Rev slider js -->
    <script src="{{ url_for('static', filename='vendors/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='vendors/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='vendors/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='vendors/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='vendors/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/counterup/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flex-slider/jquery.flexslider-min.js') }}"></script>

    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
    <script
        src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>

    <!-- for responsive datatable -->
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#critical_roads').DataTable({
                'ajax': 'https://santa-gha.s3.amazonaws.com/static/json/arrays.json',
                'rowsGroup': [0]
            });
        });
    </script>
    <!-- page script -->
    <script>
        $(function () {
            $("#mytable").DataTable({
                responsive: true,
                // order: [[2, 'asc']],
                // rowGroup: {
                //     dataSrc: 2
                // }
            });
        });
    </script>

    <!--Ajax script for completed periodic projects' sum-->
    <script>
        $(document).ready(function () {
            $('#completed_proj_sub').on('click', function (event) {

                var start_date = $('#start_date').val();
                var end_date = $('#end_date').val();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('main.completed_periodic') }}",
                    dataType: "json",
                    data: {
                        start_date: start_date, end_date: end_date
                    },
                    success: function (data) {
                        $('#completed_proj_sum').replaceWith(data.data)
                    }
                });
                event.preventDefault();
            });
        });
    </script>
    <!--Ajax script for Ongoing periodic projects' sum-->
    <script>
        $(document).ready(function () {
            $('#ongoing_proj_sub').on('click', function (event) {

                var start_date = $('#start_date').val();
                var end_date = $('#end_date').val();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('main.ongoing_periodic') }}",
                    dataType: "json",
                    data: {
                        start_date: start_date, end_date: end_date
                    },
                    success: function (data) {
                        $('#ongoing_proj_sum').replaceWith(data.data)
                    }
                });
                event.preventDefault();
            });
        });
    </script>
    <!--Ajax script for Awarded Projects' sum-->
    <script>
        $(document).ready(function () {
            $('#awarded_proj_sub').on('click', function (event) {

                var start_date = $('#start_date').val();
                var end_date = $('#end_date').val();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('projects.awarded_proj') }}",
                    dataType: "json",
                    data: {
                        start_date: start_date, end_date: end_date
                    },
                    success: function (data) {
                        $('#awarded_proj_sum').replaceWith(data.data)
                    }
                });
                event.preventDefault();
            });
        });
    </script>
    <!--Ajax script for Terminated Projects' sum-->
    <script>
        $(document).ready(function () {
            $('#terminated_proj_sub').on('click', function (event) {

                var start_date = $('#start_date').val();
                var end_date = $('#end_date').val();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('projects.terminated_proj') }}",
                    dataType: "json",
                    data: {
                        start_date: start_date, end_date: end_date
                    },
                    success: function (data) {
                        $('#terminated_proj_sum').replaceWith(data.data)
                    }
                });
                event.preventDefault();
            });
        });
    </script>
    {% include "includes/completed_scripts.html" %}
    {% include "includes/ongoing_scripts.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datetimepicker({
                format: 'YYYY-MM-DD',
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'YYYY-MM-DD',
            });

            $('#datetimepicker7').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>

    <!-- section for quotes -->
     <script>
        const quotes = [
            "The engineer has been, and is, a maker of history.",
            "Engineering is the art of directing the great sources of power in nature for the use and convenience of man.",
            "Civil engineering is the art of directing the great sources of power in nature for the use and convenience of man.",
            "The civilized man has built a coach, but has lost the use of his feet.",
            "Engineering is not merely knowing and being knowledgeable, like a walking encyclopedia; engineering is not merely analysis; engineering is not merely the possession of the capacity to get elegant solutions to non-existent engineering problems; engineering is practicing the art of the organized forcing of technological change.",
            "Scientists study the world as it is; engineers create the world that has never been.",
            "One man's 'magic' is another man's engineering.",
            "The engineer has been, and is, a maker of history.",
            "Engineering is the professional art of applying science to the optimum conversion of natural resources to the benefit of man.",
            "Civil engineers build the world, make it a better place to live in and connect people.",
            '"The difference between theory and practice is smaller in theory than it is in practice." - Albert Einstein',
            '"Architecture begins where engineering ends." - Walter Gropius',
            '"An optimist will tell you the glass is half-full; the pessimist, half-empty; and the engineer will tell you the glass is twice the size it needs to be." - Oscar Wilde',
            '"Engineers like to solve problems. If there are no problems handily available, they will create their own problems." - Scott Adams',
            '"Aerodynamics are for people who cannot build engines." - Enzo Ferrari',
            '"A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools." - Douglas Adams',
            '"The road to success is always under construction." - Lily Tomlin',
            '"We shape our buildings, thereafter they shape us." - Winston Churchill',
            '"The civil engineer is the real 19th-century architect." - William Burges',
            '"Architects and engineers are among the most fortunate of men since they build their own monuments with public consent, public approval and often public money." - John Prebble',
            '"We shape our buildings, thereafter they shape us."- Winston Churchill',

'"There can be little doubt that in many ways the story of bridge building is the story of  civilization. By it, we can readily measure an important part of a people’s progress."-  Franklin D Roosevelt, 1931',

'"When engineers and quantity surveyors discuss aesthetics and architects study what cranes do we are on the right road."- Ove Arup',

'"This is not the age of pamphleteers. It is the age of engineers. The spark gap is mightier than the pen. Democracy will not be salvaged by men who talk fluently, debate forcefully, and quote aptly."- Lancelot Hogben',

'"The major difference between a thing that might go wrong and a thing that cannot possibly go wrong is that when a thing that cannot possibly go wrong goes wrong, it usually turns out to be impossible to get at and repair."- Douglas Adams',

'"The joy of engineering is to find a straight line on a double logarithmic diagram."-Thomas Koenig',

'"One has to watch out for engineers – they begin with the sewing machine and end up with the atomic bomb."- Marcel Pagnol',

'"Nothing is so inspiring as seeing big works well laid out and planned and a real engineering organization."- Frederick Handley Page',

'"Nothing can be of great worth or holy which is the work of builders and mechanics."- Zeno, Stoic Philosopher',

'"No greater care is required upon any works than upon such as are to withstand the action of  water; for this reason, all parts of the work need to be done exactly according to the rules of the art which all workmen know, but few observe."- Sextus Julius Frontinus',

'"Men build bridges and throw railroads across deserts, and yet they contend successfully that the job of sewing on a button is beyond them. Accordingly, they don’t have to sew buttons."- Heywood Broun',

'"It takes an engineer to undertake the training of an engineer and not, as often happens, a theoretical engineer who is clever on a blackboard with mathematical formulae but useless as far as production is concerned."- The Rev EB Evans',

'"His father loved him dearly, but his work, that of a civil engineer, had left him with but little time for his family. Energetic, active, and always taken up with some responsible work, he did not spoil his children with excessive tenderness."- Mme Estafavia',

'"Go for civil engineering, because civil engineering is the branch of engineering which teaches you the most about managing people. Managing people is a skill that is very, very useful and applies almost regardless of what you do."- Sir John Harvey Jones',

'"From the laying out of a line of a tunnel to its final completion, the work may be either a series of experiments made at the expense of the proprietors of the project or a series of judicious applications of the results of previous experience."- HS Drinker',

'"Engineers … are not mere technicians and should not approve or lend their name to any project that does not promise to be beneficent to man and the advancement of civilization"- John Fowler',

'"Engineering refers to the practice of organizing the design and construction [and, I would add operation] of any artifice which transforms the physical world around us to meet some recognized need."- GFC Rogers',

'"Engineering is the art of modeling  materials we do not wholly understand, into shapes we cannot precisely analyze so as to withstand forces we cannot properly assess, in such a way that the public has no reason to suspect the extent of our ignorance."- Dr AR Dykes',

'"Architects and engineers are among the most fortunate of men since they build their own monuments with public consent, public approval and often public money."- John Prebble',

'"A great bridge is a great monument that should serve to make known the splendor and genius of a nation; one should not occupy oneself with efforts to perfect it architecturally, for taste is always susceptible to change, but to conserve always in its form and decoration the character of solidity which is proper."- Jean Peronnet',

'"A good scientist is a person with original ideas. A good engineer is a person who makes a design that works with as few original ideas as possible"- Freeman Dyson',

'"A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools."- Douglas Adams',

'"Scientists dream about doing great things. Engineers do them."- James A. Michener',

'"Scientists investigate that which already is; Engineers create that which has never been."- Albert Einstein',

'"Each type of knowledge has value; however, from an engineering point of view, practical knowledge seems to be more valuable than theoretical knowledge."- Eraldo Banovac',

'"An engineer is someone who is good with figures but doesn’t have the personality of an accountant."- An Arts graduate’s view of engineers',

'"Life is like a gas turbine, After every compressor, there is always a turbine!;"- Benyamin Bidabad',

'"Engineering is the art and science of nuts and bolts."- Haresh Sippy',

'"“One man’s “magic” is another man’s engineering. “Supernatural” is a null word.”"- Robert A. Heinlein',

'"In engineering, the joints are the most crucial. They have to be both firm and flexible, exactly like the joints in our body.;"- Haresh Sippy',
        ];

        function generateQuote() {
            const quoteElement = document.getElementById('quote');
            const randomIndex = Math.floor(Math.random() * quotes.length);
            quoteElement.textContent = quotes[randomIndex];
        }
    </script>
    <!-- end section for quotes -->

<!-- Start of countdown timer script -->
<script>
 (function(){
      // Fixed deadline: 19th September 2025, 5:00 PM UTC
      const target = Date.UTC(2025, 8, 19, 17, 0, 0); // Months are 0-indexed (8 = September)

      const daysEl = document.getElementById('days');
      const hoursEl = document.getElementById('hours');
      const minutesEl = document.getElementById('minutes');
      const secondsEl = document.getElementById('seconds');

      let timerId = null;

      function pad(n){return String(n).padStart(2,'0');}

      function update(){
        const now = Date.now();
        let diff = target - now;

        if (diff <= 0){
          daysEl.textContent = '00';
          hoursEl.textContent = '00';
          minutesEl.textContent = '00';
          secondsEl.textContent = '00';
          stopTimer();
          return;
        }

        const totalSeconds = Math.floor(diff / 1000);
        const d = Math.floor(totalSeconds / (3600*24));
        const h = Math.floor((totalSeconds % (3600*24)) / 3600);
        const m = Math.floor((totalSeconds % 3600) / 60);
        const s = totalSeconds % 60;

        daysEl.textContent = pad(d);
        hoursEl.textContent = pad(h);
        minutesEl.textContent = pad(m);
        secondsEl.textContent = pad(s);
      }

      function startTimer(){
        if (timerId) clearInterval(timerId);
        update();
        timerId = setInterval(update, 1000);
      }

      function stopTimer(){
        if (timerId) { clearInterval(timerId); timerId = null; }
      }

      document.addEventListener('visibilitychange', ()=>{
        if (document.visibilityState === 'visible'){
          update();
        }
      });

      startTimer();
    })();
// End of countdown timer script
</script>
<!-- End of countdown timer script -->



<!-- for iPhone 12 Pro display -->
<script>
  window.devicePixelRatio
</script>


</body>

</html>