<!--Ajax script for Ongoing Rehabilitation project's sum-->
<script>
    $(document).ready(function(){  
        $('#ongoing_rehab_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.rehabilitation') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_rehab_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Asphaltic Overlay project's sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_asphaltic_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.asphalticoverlay') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_asphaltic_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Bituminous Surfacing sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_bitum_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.bituminous') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_bitum_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Construction Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_const_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.construction') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_const_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Construction Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_decongest_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.decongestion') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_decongest_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Drainage Structure Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_drainage_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.drainage_struct') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_drainage_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Grading Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_grading_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.grading') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_grading_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Other Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_otherproj_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.other_proj') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_otherproj_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Partial Reconstruction Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_part_reconst_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.part_reconst') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_part_reconst_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Pre-Construction Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_precons_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.preconstruct') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_precons_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Regravelling Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_regrav_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.regravelling') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_regrav_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Repairs & Asphaltic Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_repairs_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.repairs_asphaltic') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_repairs_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Resealing Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_reseal_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.resealing') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_reseal_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Resurface Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_resurface_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.resurfacing') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_resurface_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Supply Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_supply_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.supply') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_supply_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing  Surface Dressing Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_surf_dress_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.surface_dressing') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_surf_dress_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>
<!--Ajax script for Ongoing Upgrading Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_upgrade_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.upgrading') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_upgrade_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        }); 
    });
</script>
<!--Ajax script for Ongoing Reconstruction Projects' sum-->
<script>
    $(document).ready(function(){
        $('#ongoing_reconstruct_sub').on('click', function(event){

            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            $.ajax({
                type : "POST",
                url : "{{ url_for('ongoing_proj.reconstruction') }}",
                dataType: "json",
                data : {
                    start_date: start_date, end_date : end_date
                },
                success: function(data){
                    $('#ongoing_reconstruct_sum').replaceWith(data.data) 
                }
            });
            event.preventDefault();
        });
    });
</script>