

<div class="col-md-4">
    <div class="sidebar_area" style="margin-top: 11px;">
        <aside class="right_widget r_post_widget">
            <div class="r_w_title">
                <h3 style="font-weight: bolder;">Trending Post</h3>   
            </div>
            {% if posts %}
            <div class="r_post_inner">
                {% for post in posts[0:3] %}
                <div class="r_post_item">
                    <img src="{{ url_for('static', filename='blog_images/' + post.image) }}" style="width: 246px; height: 123px;" alt="">
                    <a href="{{ url_for('blogs.blog_post', post_id=post.id, slug=post.slug) }}"><p>{{ post.title | truncate(80, True) }}</p></a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div>
                No Trending Posts
            </div>
            {% endif %}
        </aside>
        <aside class="right_widget r_social_widget">
            <div class="r_w_title">
                <h3>we are social</h3>
            </div>
            <ul>
                <li><a href="https://www.twitter.com/highwaysghana/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/highwaysghana/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCiW23XAZoBFwgTDVRD_om7g" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/highwaysghana/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <!-- <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li> -->
                <li><a href="https://www.facebook.com/highwaysghana/" target="_blank"><i class="fa fa-facebook"></i></a></li>

            </ul>
        </aside>
        <aside class="right_widget r_twitter_widget">
            <div class="r_w_title">
                <h3>twitter feed</h3>
            </div>
            <div class="tweets_feed">
                <a class="twitter-timeline" data-width="300" data-height="300" href="https://www.twitter.com/highwaysghana?ref_src=twsrc%5Etfw">Tweets by Ghana_Highway</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </aside>
    </div>
</div>