{% extends "includes/layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">CRITICAL ROADS</h3>
        
        <table id="critical_roads" class="display" cellspacing="2" style="width:100%; line-height: 30px;">
            <thead>
                <tr>
                    <th>REGION</th>
                    <th>ROAD/BRIDGE</th>
                    <th>KM/m</th>
                    <th>CONTRACTOR</th>
                    <th>Status, September 2020</th>
                </tr>
            </thead> 
        </table><br>
        <div>
                   
        </div> 
    </div>
</div>
{% endblock content %}