{% extends "includes/layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 class="table_h3" id="table_h3">ROAD CONDITION REGISTRY FOR YEAR 2018</h3>
         
        <table id="mytable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>REG.</th>
                    <th>ROAD NO.</th>
                    <th>ROAD NAME</th>
                    <th>LINK REF</th>
                    <th>SECT. REF.</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th>START (KM)</th>
                    <th>END (KM)</th>
                    <th>LENGTH (KM)</th>
                    <th>WIDTH (KM)</th>
                    <th>SURF. TYPE (KM)</th>
                    <th>COND SCORE</th>
                    <th>IRI</th>
                    <th>COND</th>
                </tr>
            </thead>
            <tbody>
                {% for condition in rd_cond %}
                    <tr>  
                        <td>{{ condition.reg }}</td>
                        <td>{{ condition.road_no }}</td>
                        <td>{{ condition.road_name }}</td>
                        <td>{{ condition.link_ref }}</td>
                        <td>{{ condition.sect_ref }}</td>
                        <td>{{ condition.fr_om }}</td>
                        <td>{{ condition.t_o}}</td> 
                        <td>{{ condition.start }}</td> 
                        <td>{{ condition.end }}</td> 
                        <td>{{ condition.length }}</td> 
                        <td>{{ condition.width }}</td> 
                        <td>{{ condition.surf_type }}</td> 
                        <td>{{ condition.cond_score }}</td> 
                        <td>{{ condition.iri }}</td> 
                        <td>{{ condition.cond }}</td> 
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock content %}